{% extends 'layout.html' %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">EquiMente</h1>
  <p class="lead">¿Te sientes perdido? No estás solo. Aquí encontrarás apoyo y recursos para ayudarte a superar la depresión. Da el primer paso hacia tu bienestar emocional.</p>
  <hr class="my-4" />
  <p>¿Tienes dudas sobre la depresión? EquiMente está aquí para ayudarte. Encuentra apoyo y recursos que te guiarán hacia un mejor bienestar emocional.</p>
</div>

<div class="container">
  <!-- Subtítulos y texto -->
  <h2 class="mt-4">¿Quiénes Somos?</h2>
  <p>¡Bienvenido a EquiMente! Somos un equipo apasionado de profesionales dedicados a transformar la conversación sobre la depresión. Nuestro grupo está formado por psicólogos, terapeutas y defensores de la salud mental, todos unidos por un objetivo común: ayudar a las personas a encontrar luz en los momentos más oscuros. En EquiMente, creemos que cada historia importa y que cada voz merece ser escuchada. ¡Aquí, no estás solo!</p>

  <h2 class="mt-4">Misión</h2>
  <p>Nuestra misión es simple pero poderosa: empoderarte en tu camino hacia la sanación. En EquiMente, ofrecemos un espacio seguro donde puedes explorar tus pensamientos y emociones sin juicio. Proporcionamos recursos prácticos, talleres interactivos y apoyo personalizado para que puedas enfrentar la depresión con confianza. Queremos que descubras las herramientas que necesitas para reescribir tu historia y recuperar el control de tu vida.</p>

  <h2 class="mt-4">Visión</h2>
  <p>Imaginamos un futuro donde la salud mental sea una prioridad para todos. En EquiMente, queremos romper el estigma que rodea la depresión y crear una comunidad de apoyo que inspire el cambio. Nuestra visión es que cada persona tenga acceso a la información y los recursos necesarios para cuidar su bienestar emocional. Juntos, podemos construir un mundo más comprensivo y empático, donde todos se sientan validados y apoyados en su viaje hacia el bienestar.</p>

  <h2 class="mt-4">Conclusión</h2>
  <p>La depresión puede ser un viaje solitario, pero en EquiMente, estamos aquí para acompañarte. Te invitamos a explorar nuestros recursos, participar en nuestras actividades y ser parte de una comunidad vibrante que se preocupa por ti. Recuerda, pedir ayuda es un acto de valentía. No dudes en contactarnos para resolver tus dudas y comenzar tu camino hacia la recuperación. ¡Estamos emocionados de tenerte aquí y listos para apoyarte en cada paso del camino!</p>
</div>
{% endblock %}

